<!--
  This template loads for the 'exercise' state (app.js)
  draggableObjects & dropped are $scope variables created in the ExerciseCtrl controller (controllers.js)
  The ExerciseCtrl pulls data from the Exercise service (service.js)
  The Exercise service returns a json promise of exercise data
-->
<ion-view view-title="{{title}}">
  <ion-nav-buttons side="right">
      <button class="button button-icon ion-more" ng-click="openPopover($event)">
      </button>
  </ion-nav-buttons>
  <ion-content class="" scroll="false">
    <ion-slides  options="options" slider="data.slider">
      <ion-slide-page ng-repeat="slide in slideCount track by $index" ng-init="slideIndex = $index">

        <div class="draggables container-fluid sub-header" ng-init="disable">
          <div class="row" ng-repeat="val in drags" ng-switch on="$index % 2" ng-init="word1 = words[drags[$index]][slideIndex];
          word2 = words[drags[$index+1]][slideIndex]">
            <div class="col drags" ng-switch-when="0" ng-if="word1" ng-drag="word1.isDraggable" ng-drag-data="word1.right" data-allow-transform="true" ng-drag-success="dragSuccess($data,$event,drags[$index],slideIndex)" press-timeout="0">
              <div ng-class="{dragged:!word1.isDraggable}">{{word1.right}}</div>
            </div>
            <div class="col drags" ng-switch-when="0" ng-if="word2" ng-drag="word2.isDraggable" ng-drag-data="word2.right" data-allow-transform="true" ng-drag-success="dragSuccess($data,$event,drags[$index+1],slideIndex)" press-timeout="0">
              <div ng-class="{dragged:!word2.isDraggable}">{{word2.right}}</div>
            </div>
          </div>
        </div>
        <ion-content class="has-header has-footer has-subheader has-subfooter custom-content">
          <div ng-repeat="word in words track by $index" ng-init="wordId = word[slideIndex].id" ng-if="word[slideIndex]">
            <div class="row">

              <div class="fixed-value col" ng-show="word[slideIndex].isCorrect">
                  {{word[slideIndex].left}} {{word[slideIndex].right}}
              </div>

              <div class="fixed-value col" ng-show="!word[slideIndex].isCorrect">
                  {{word[slideIndex].left}}
              </div>

              <div ng-show="!word[slideIndex].isCorrect" ng-drop="true" ng-drop-success="onDropComplete($data,$event,wordId,slideIndex)" class="col">

                <div ng-drag="true" ng-drag-data="word[slideIndex].drop" ng-drag-success="onDragSuccess($data,$event,wordId,slideIndex)" ng-center-anchor="{{centerAnchor}}">
                  {{word[slideIndex].drop}}
                </div>

              </div>
            </div>
          </div>
        </ion-content>
      </ion-slide-page>
    </ion-slides>
        <div class="bar bar-footer" ng-hide="hide">
          <div class="title" ng-click="checkAnswer()" style="cursor:pointer;font-style:italic;">
            Check Answer
          </div>
        </div>
        <footer class="slideNo" drag-content="false">{{slideIndex+1}}/{{slides}}</footer>
  </ion-content>
</ion-view>