<!--
  This template loads for the 'exercise' state (app.js)
  draggableObjects & dropped are $scope variables created in the ExerciseCtrl controller (controllers.js)
  The ExerciseCtrl pulls data from the Exercise service (service.js)
  The Exercise service returns a json promise of exercise data
-->
<ion-view view-title="{{title}}">
  <ion-nav-buttons side="right">
      <button class="button button-icon ion-more" ng-click="openPopover($event)">
      </button>
  </ion-nav-buttons>
  <ion-content class="" scroll="false">
    <ion-slides  options="options" slider="data.slider">
      <ion-slide-page ng-repeat="slide in slideCount track by $index" ng-init="slideIndex = $index">

        <div class="draggables container-fluid sub-header"> 
          <ul class="draggable-objects">
            <li  ng-repeat="word in words track by $index">
              <div ng-drag="true" ng-drag-data="word[slideIndex].right" data-allow-transform="true" class="text"> {{word[slideIndex].right}} </div>
            </li>
          </ul>
        </div>

        <div ng-repeat-start="word in words track by $index" ng-init="wordId = word[slideIndex].id" ng-if="word[slideIndex]">
          <div class="row" style="margin-top:10px;">

            <div class="fixed-value col col-xs-4 text" ng-show="word[slideIndex].isCorrect">
                {{word[slideIndex].left}} {{word[slideIndex].right}}
            </div>

            <div class="fixed-value col col-xs-4 text" ng-show="!word[slideIndex].isCorrect">
                {{word[slideIndex].left}}
            </div>

            <div ng-show="!word[slideIndex].isCorrect" ng-drop="true" ng-drop-success="onDropComplete($data,$event,wordId,slideIndex)" class="col col-xs-8">

              <div ng-drag="true" ng-drag-data="word[slideIndex].drop" ng-drag-success="onDragSuccess($data,$event,wordId,slideIndex)" ng-center-anchor="{{centerAnchor}}" class="text">
                {{word[slideIndex].drop}}
              </div>

            </div>
          </div>
        </div>

        <div ng-repeat-end>
          <div class="bar bar-footer bar-positive" ng-show="checkAll(slideIndex)">
            <div class="title">
              Correct answer!
            </div>
          </div>

          <div class="bar bar-footer" ng-show="!checkAll(slideIndex)">
            <div class="title" ng-click="checkAnswer(slideIndex)" style="cursor:pointer;font-style:italic;">
              Check Answer
            </div>
          </div>
        </div>
      </ion-slide-page>
    </ion-slides>
  </ion-content>
</ion-view>
