<ion-view view-title="Exercises">
  <ion-content>
    <ion-list>
      <ion-item class="item-remove-animate item-icon-right" ng-repeat="ex in exercises" type="item-text-wrap" href="#/tab/exs/{{ex._id}}">
        <!-- <img ng-src="{{chat.face}}"> -->
        <h2>{{ex._name}}</h2>
        <div><span class="badge">{{ex._id}}</span></div>
        <i class="icon ion-chevron-right icon-accessory"></i>

        <ion-option-button class="button-assertive" ng-click="remove(ex)">
          Delete
        </ion-option-button>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
