<ion-view >
    <ion-nav-title >
      <img src="../img/flaxImages/flaxstudentlogo.png" class="aa">How To Play
    </ion-nav-title>
  <ion-content>
    <ion-list>
    <ion-toggle  ng-model="settings.enableFriends">
        Enable Help
    </ion-toggle>
    </ion-list>
    <p>
    <h2>Welcome to Collocation Matching</h2>
    </p>
    <p>
    In Collocation Matching, your goal is to match the shuffled words to create collocations. A selection of partial collocations are supplied at the top of the screen.
    </p>
    <p>
    Drag and drop the partial phrases to create a match.
    </p>
  </ion-content>
</ion-view>
