<ion-view view-title="About Flax">
  <ion-content class="padding">
    <h2>Welcome to FLAX!</h2>
    <p>
    Welcome to FLAX interactive language learning on mobile devices. FLAX is an open source system that we have developed for teaching and learning a second language. It includes several language games.
    </p>
    <p>
    In Collocation Matching your goal is to match the shuffled words to create collocations. Drag and drop the partial phrases to create a match!
    </p>
    <p>
      For more information visit <a href="http://flax.nzdl.org/greenstone3/flax" target="_blank">Flax Website</a>
    </p>
  </ion-content>
</ion-view>
